body {
  background-color: #e4b78b;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
.container {
  padding: 4%;
  margin: 1% 5%;
  background-color: white;
}

.practice .my-shape {
  transition: all 1s;
}

.practice svg:hover .my-shape {
  fill: cornflowerblue;
  transform: scale(1.1);
}
.buttons button {
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  overflow: hidden;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px black;
  margin: 1%;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons button:focus {
  outline: 0;
  box-shadow: 2px 2px 15px black;
}
button:hover {
  transform: scale(1.05);
  padding: .1%;
}
.blue-eyes .eye-color {
  fill: #175282;
}
.sad .mouth {
  transform: rotate(180deg) scale(.5);
  transform-origin: 340px 390px;
}
@keyframes moveEyes {
  20% {
    transform: translate(-18px, -20px);
  }
  40% {
    transform: translate(0px, 0px);
  }
  65% {
    transform: translate(18px, -20px);
  }
  100% {
    transform: translate(18px, 0px);
  }
}

.move-around .inner-eye-group {
  animation: moveEyes 5s infinite;
}

@keyframes leftWhiskers {
  20% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
}
.move-around .left-whiskers {
  animation: leftWhiskers 3s infinite;
  transform-origin: 325px 350px;
}
@keyframes rightWhiskers {
  10% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(7deg);
  }
}
.move-around .right-whiskers {
  animation: rightWhiskers 3s infinite;
  transform-origin: 325px 350px;
}
@keyframes move {
  20% {
    transform: rotateY(10deg) rotateX(10deg);
  }
  40% {
    transform: rotateY(25deg) rotateX(10deg);
  }
  60% {
    transform: rotateY(-10deg) rotateX(-10deg);
  }
  85% {
    transform: rotateY(-10deg) rotateX(-16deg);
  }
}
.move-around {
  animation: move 8s infinite;
}
.svg-container {
  perspective: 1000px;
}
.test-form {
  display: flex;
  flex-direction: column;
}
.test-form input {
  margin-bottom: 5%;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
}
.test-form button {
  color: white;
  background-color: #0095ff;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  height: 50px;
  width: 80%;
  align-self: center;
  transition: transform 1s;
}
.test-form input:focus {
  outline: 0;
}
.test-form button:focus {
  outline: 0;
  box-shadow: .5px .5px 5px #00000036;
}
