.container {
  padding: 4%;
  background-color: #a5000047;
}

.practice .my-shape {
  transition: all 1s;
}

.practice svg:hover .my-shape {
  fill: cornflowerblue;
  transform: scale(1.1);
}

.blue-eyes .eye-color {
  fill: #175282;
}
